{% extends "homepage/home.html" %}
{% load static %}
{% block content %}
<div id="videoContainer">
    <div class="video-grid">
        <div class="video-item">
            <iframe src="https://www.youtube.com/embed/your_video_id1" frameborder="0" allowfullscreen></iframe>
            <p>Video Title</p>
        </div>
        <div class="video-item">
            <iframe src="https://www.youtube.com/embed/your_video_id2" frameborder="0" allowfullscreen></iframe>
            <p>Video Title</p>
        </div>
        <div class="video-item">
            <iframe src="https://www.youtube.com/watch?v=DgpYiysQjeI" frameborder="0" allowfullscreen></iframe>
            <p>Video Title</p>
        </div>
        <div class="video-item">
            <iframe src="https://www.youtube.com/embed/your_video_id2" frameborder="0" allowfullscreen></iframe>
            <p>Video Title</p>
        </div>
        <div class="video-item">
            <iframe src="https://www.youtube.com/embed/your_video_id2" frameborder="0" allowfullscreen></iframe>
            <p>Video Title</p>
        </div>
        <div class="video-item">
            <iframe src="https://www.youtube.com/embed/your_video_id2" frameborder="0" allowfullscreen></iframe>
            <p>Video Title</p>
        </div>
    </div>
</div>
{% endblock %}